html
head
    meta(charset="UTF-8")
    title App
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    link(href="https://fonts.googleapis.com/css?family=Aclonica%7CPT+Sans%7CPrata" rel="stylesheet")
    link(rel="stylesheet" href="css/style.css")
    body
            form(method="POST" action="/register")
                input(type="text" name="firstname" placeholder="First Name")
                br
                input(type="text" name="lastname" placeholder="Last Name")
                br
                input(type="text" name="username" placeholder="Username")
                br
                input(type="text" name="password" placeholder="Password")
                br
                input(type="text" name="age" placeholder="Age")
                br
                input(type="text" name="height" placeholder="Height")
                br
                input(type="text" name="weight" placeholder="Weight")
                br
                input(type="submit" name="btnSubmit" value="Register")