html
head
    meta(charset="UTF-8")
    title App
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    link(href="https://fonts.googleapis.com/css?family=Aclonica%7CPT+Sans%7CPrata" rel="stylesheet")
    link(rel="stylesheet" href="css/style.css")
    body
            form
                input(type="text" name="firstname" value="First Name")
                br
                input(type="text" name="lastname" value="Last Name")
                br
                input(type="text" name="username" value="Username")
                br
                input(type="text" name="password" value="Password")
                br
                input(type="text" name="age" value="Age")
                br
                input(type="text" name="height" value="Height")
                br
                input(type="text" name="weight" value="Weight")